@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-subtle: 210, 20%, 98%, 1;
    --background-subtle-hover: 220, 14%, 96%, 1;
    --background-subtle-pressed: 220, 13%, 91%, 1;
    --background-base: 0, 100%, 100%, 1;
    --background-base-hover: 210, 20%, 98%, 1;
    --background-base-pressed: 220, 14%, 96%, 1;
    --background-component: 210, 17%, 95%, 1;
    --background-switch-off: 220, 13%, 91%, 1;
    --background-switch-off-hover: 216, 12%, 84%, 1;
    --background-interactive: 217, 91%, 60%, 1;
    --background-overlay: 224, 71%, 4%, 0.4;
    --background-disable: 220, 14%, 96%, 1;
    --background-highlight: 214, 100%, 97%, 1;
    --background-highlight-hover: 214, 95%, 93%, 1;
    --background-field: 210, 20%, 98%, 1;
    --background-field-hover: 220, 14%, 96%, 1;

    --foreground-base: 224, 71%, 4%, 1;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background-subtle: 240, 4%, 10%, 1;
    --background-subtle-hover: 240, 7%, 11%, 1;
    --background-subtle-pressed: 230, 7%, 16%, 1;
    --background-base: 240, 7%, 11%, 1;
    --background-base-hover: 230, 7%, 16%, 1;
    --background-base-pressed: 223, 7%, 19%, 1;
    --background-component: 230, 7%, 16%, 1;
    --background-switch-off: 223, 6%, 22%, 1;
    --background-switch-off-hover: 210, 7%, 29%, 1;
    --background-interactive: 213, 94%, 68%, 1;
    --background-overlay: 240, 4%, 10%, 0.7;
    --background-disable: 230, 7%, 16%, 1;
    --background-highlight: 226, 57%, 21%, 1;
    --background-highlight-hover: 224, 64%, 33%, 1;
    --background-field: 230, 7%, 16%, 1;
    --background-field-hover: 223, 7%, 19%, 1;

    --foreground-base: 220, 9%, 94%, 1;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-base text-foreground;
  }
}
